<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wugang.dao.TeacherMapper">
    <!-- 按结果嵌套查询 -->
    <resultMap id="teacherMap" type="teacher">
        <id property="id" column="tid"/>
        <result property="name" column="tname"/>
        <!-- javaType：用来指定实体类中属性的类型
             ofType：用来指定映射到List或集合中的pojo类型，泛型中的约束类型-->
        <collection property="students" ofType="student">
            <id property="id" column="sid"/>
            <result property="name" column="sname"/>
            <result property="tid" column="tid"/>
        </collection>
    </resultMap>

    <select id="getTeacher" resultMap="teacherMap">
        select t.id tid, t.name tname, s.id sid, s.name sname, s.tid from teacher t  left join student s on t.id = s.tid where t.id = #{id}
    </select>


    <!-- 按查询嵌套 -->
    <resultMap id="teacherMap2" type="teacher">
        <collection property="students" column="id" javaType="ArrayList" ofType="student" select="getStudent"/>
    </resultMap>

    <select id="getTeacher2" resultMap="teacherMap2">
        select * from teacher where id = #{id}
    </select>

    <select id="getStudent" resultType="student">
        select * from student where tid = #{tid}
    </select>
</mapper>