<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wugang.dao.BlogMapper">
    <!-- 在当前Mapper.xml中使用二级缓存 -->
    <!--    <cache/>-->
    <!--    <cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true"/>-->
    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>

    <select id="queryBlog" resultType="blog" useCache="true">
        select *
        from blog
        where id = #{id}
    </select>

    <update id="updateBlogByID" parameterType="blog">
        update blog
        <set>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="author != null">
                author = #{author},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>