<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 绑定一个对于的Dao/Mapper接口 -->
<mapper namespace="com.wugang.dao.UserMapper">

    <!-- 获取全部用户 -->
    <select id="getUserList" resultType="HelloUser">
        select * from mybatis.user
    </select>

    <!-- 根据ID查询用户 -->
    <select id="getUserById" parameterType="int" resultType="com.wugang.pojo.User">
        select * from mybatis.user where id = #{id}
    </select>

    <!-- 插入一个user；对象中的属性可以直接取出来 -->
    <insert id="addUser" parameterType="com.wugang.pojo.User">
        insert into mybatis.user (id, name, pwd) values (#{id}, #{name}, #{pwd})
    </insert>

    <!-- 修改用户信息 -->
    <update id="updateUser" parameterType="com.wugang.pojo.User">
        update mybatis.user set name = #{name}, pwd = #{pwd} where id = #{id}
    </update>

    <!-- 删除一个用户 -->
    <delete id="deleteUser" parameterType="int">
        delete from mybatis.user where id = #{id}
    </delete>
</mapper>